@import "tailwindcss";

@import "@mdxeditor/editor/style.css";

@font-face {
    font-family: 'Roboto Slab';
    src: url(/roboto-slab.ttf)
}

@theme {
    --font-display: 'Roboto Slab', system-ui, sans-serif;
}

* {
    --basePageBg: var(--color-stone-700) !important;
}

.mdxeditor-root-contenteditable, .mdxeditor-root-contenteditable > div {
    @apply h-full;
}

.mdxeditor-toolbar {
    @apply shrink-0;
}

.mdxeditor h1 {
    @apply text-3xl;
}

.mdxeditor h2 {
    @apply text-xl;
}

.mdxeditor h3 {
    @apply text-lg;
}

.mdxeditor h4 {
    @apply font-medium;
}